
<body>
<div class="content">
	<div class="wrap">
		<div class="content-top">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div class="contact-form">
		                    <div >
			                     <label>Select one option</label>
			                    <select class="select2">
			                     <option>Insert Movie</option>
                                  <option>Delete Movie</option>
                                  <option>Edit Movie</option>
			                    </select>
			                </div>
                        <form>
					    	<div>
						    	<span><label>Movie Name</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>Year of Release</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						     	<span><label>Genre</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>Cast</label></span>
                                <span><input type="text" value=""></span>
                            </div>
                            <div>
                                <span><label>Description</label></span>
						    	<span><textarea> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Edit"></span>
						  </div>
					    </form>

                        @*
                         For edit Movie
                        <form>
					    	<div>
						    	<span><label>Movie Name</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>Year of Release</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						     	<span><label>Genre</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>Cast</label></span>
                                <span><input type="text" value=""></span>
                            </div>
                            <div>
                                <span><label>Description</label></span>
						    	<span><textarea> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Insert"></span>
						  </div>
					    </form>
                        *@


                        @*
                            <div >
			                     <label>Select Movie to delete</label>
			                    <select class="select2">
			                     <option>Movie1</option>
                                  <option>Movie2</option>
                                  <option>Movie3</option>
			                    </select>
			                </div>
                        
                            <div>
						   		<span><input type="submit" value="Delete"></span>
						  </div>
                        *@

                    </div>
                </div>
            </div>
            </div>
  			</div>
</div>
</body>

