
<body>
<div class="block">
	<div class="wrap">
		<div class="h-logo">
			<a href="index.html"><img src="~/images/logo.png" alt=""/></a>
		</div>          
   </div>
</div>
<div class="content">
	<div class="wrap">
		<div class="content-top">
            <div class="section group">
                <div class="about span_1_of_2">
                    <h3>My list of top 5 Actress of all time.</h3>
                    <div class="about-top">
                        <div class="grid images_3_of_2">
                            <img src="~/images/list1_1.jpg" alt="" />
                        </div>
                        <div class="desc span_3_of_2">
                            <h4 >Inception (2010) </h4>
                            
                            <p>A thief who steals corporate secrets through use of dream-sharing technology is given the inverse task of planting an idea into the mind of a CEO. (148 mins.)</p>
                            <p id="asd">Director : Christopher Nolan<br>Cast : <b>Christopher Nolan</b><b>Christopher Nolan</b><b>Christopher Nolan</b></p>

                            
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="about-top">
                        <div class="grid images_3_of_2">
                            <img src="~/images/pic14.jpg" alt="" />
                        </div>
                        <div class="desc span_3_of_2">
                            <h4>Lorem Ipsum is simply dummy text </h4>
                            <p class="p-link"><a href="#" class="link1">Lorem ipsum, Dolor </a></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <a href="#" class="watch_but">More Movies</a>
                </div>

            </div>

            </div>


	</div>

</div>

</body>

